body {
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  background-color: #272c36;
  color: #AAAFAF;
  letter-spacing: 0.05rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 54rem;
  margin: 10vh auto;
}

.tip {
  width: 90%;
  margin: 0 auto;
}

.code, .moz, .quiz {
  font-family: 'PT Mono', monospace;
  color: #D9985C;
  background-color: #373D4A;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.15em;
}
.moz, .quiz {
  background-color: #20252C;
  font-style:italic;
  font-size: .75em;
  padding: .85em;
  margin: 15px 0;
}

a, a:visited, a:hover {
  color: #DB6173;
}
.right {
  position: absolute;
  top: 2em;
  right: 2em;
}

.moz::before {
  content: 'Mozilla Reference:';
  margin-right: 1em;
  text-decoration: none !important;
}
.quiz::before {
  content: 'Quizzies:';
  margin-right: 1em;
  text-decoration: none;
}

.code-block  {
  font-family: 'PT Mono', monospace;
  background-color: #373D4A;
  padding: 0.5em 2.75em 1.5em;
  font-size: 1.015rem;
  border-radius: 0.15rem;
  display: block;
  margin: 1rem 0;
  text-indent: -1em;
}

.code-block::first-line {
  text-indent: 2em;
}

.code-block .comm {
  font-style: italic;
  display: block;
  color: #58606C;
}
.code-block .comm::before {
  content: '// ';
}

.tip-number {
  margin: auto;
  margin-bottom: 2.5rem;
  color: #DB6173;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 1rem;
}

.js-tip, .code-block{
  margin: .5em auto;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.075rem
}

.tip-button {
  font-family: 'PT Mono', monospace;
  background-color: transparent;
  border: 1px solid #84C670;
  color:  #84C670;
  padding: .75em 1em;
  display: inline-block;
  margin: auto;
  font-size: .95em;
  margin-top: 2.5rem;
  cursor: pointer;
  font-weight: 300;
}

.disabled {
  background-color: #D8D8D8 !important;
  color: #888;
  cursor: not-allowed !important;
}
